@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,700|Gentium+Book+Basic:400,700);

body, html {
    width: 100%
}

body {
    display: flex;
    flex-wrap: wrap;
    line-height: 1
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button {
    border: none;
    cursor: pointer
}

a, aside, body, div, h1, h2, h3, h4, h5, h6, header, input, label, menu, p {
    font-family: Work Sans, sans-serif;
    color: #212121
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8em;
    line-height: 130%
}

p {
    margin-bottom: 20px
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 34px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 24.8px
}

h5 {
    font-size: 20.8px
}

h6 {
    font-size: 18px
}

a, p {
    font-size: 16px
}

body, html {
    height: 100%
}

.app {
    width: 900px;
    background-color: #efefef;
    margin: auto;
    box-shadow: 5px 5px 10px #bdc3c7
}

@media screen and (max-width: 900px) {
    body, html {
        background-color: #efefef
    }

    .app {
        padding-top: 40px;
        border: none;
        width: 100%;
        box-shadow: none;
        margin: 0
    }

    header {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%
    }
}

header {
    background-color: #212121;
    color: #fcfcfc;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center
}

header h1 {
    color: #fcfcfc;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    flex-grow: 2
}

header .icon {
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat
}

header .about, header .back {
    background-color: #fcfcfc;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat
}

header .back {
    margin-right: 10px
}

article {
    padding: 20px
}

article a {
    color: #27ae60;
    font-weight: 700;
    text-decoration: underline
}

article a:hover {
    text-decoration: none
}

article ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px
}

article ul li {
    padding-bottom: 5px
}

.range {
    margin: 20px 0
}

.range .meta {
    font-size: 22px;
    display: flex
}

.range .meta label {
    flex-grow: 1
}

.range .meta p {
    font-weight: 700;
    font-size: 22px
}

.range input[type=range] {
    background-color: #efefef;
    display: block;
    -webkit-appearance: none;
    width: 100%;
    margin: .7px 0
}

.range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    background: #bdc3c7;
    border-radius: 13px;
    border: none
}

.range input[type=range]::-moz-range-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    background: #bdc3c7;
    border-radius: 13px;
    border: none
}

.range input[type=range]::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background: #27ae60;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px
}

.range input[type=range]::-moz-range-thumb {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background: #27ae60;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px
}

.range input[type=range]:focus {
    outline: none
}

.result {
    position: relative;
    width: 100%;
    overflow-x: auto
}

.result table {
    margin: 20px auto;
    overflow-x: auto
}

.result table thead tr {
    border-bottom: 1px solid #bdc3c7
}

.result table thead th {
    font-weight: 700
}

.result table tbody .active {
    color: #27ae60
}

.result table tbody tr:nth-child(odd) {
    background-color: #dde4e6;
    border-top: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7
}

.result table tbody td {
    text-align: center
}

.result table tbody td:first-child {
    text-align: left
}

.result table tbody td:nth-child(2) {
    font-weight: 700
}

.result table td, .result table th {
    padding: 10px
}

header .back {
    -webkit-mask-image: url(../../public/back.svg);
    mask-image: url(../../public/back.svg)
}

header .about {
    -webkit-mask-image: url(../../public/info.svg);
    mask-image: url(../../public/info.svg)
}