language: java
jdk:
  - oraclejdk8
env:
  - NODE_VERSION=0.12
install:
  - nvm install $NODE_VERSION
  - npm install
script:
  - nvm use $NODE_VERSION
  - npm run build
cache:
  directories:
  - node_modules
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master